:root {
  /* Colors */
  --color-purple: #895197;
  --color-coral: #ff6b6b;
  --color-green: #99b84a;
  --color-blue: #1e95e7;
  --color-orange: #fdb65a;
  --color-black: #1f1e25;
  --color-white: #ffffff;

  /* Typography */

  --font-primary: "Cascadia Code", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --font-size-base: 16px;
  --font-size-large: 1.25rem;
  --font-size-small: 0.875rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 2px solid lime; */
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: var(--font-primary);
}

.tab-button {
  transition: border-color 0.3s;
  transition: color 0.3s;
}

.tab-panel {
  opacity: 0;
  transition: opacity 0.5s;
}

.tab-panel:not(.hidden) {
  opacity: 1;
}
.tabs-container {
  position: relative;
}

.active-tab-indicator {
  height: 4px;
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
}
